/* Write your CSS here */
.welcome-container{
    background-color: #1e293b;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: "Bree Serif";
    font-size: 36px;
    color:#f0bb03;
}
.desc{
    font-family: "Bree Serif";
    font-size: 24px;
    color:#ffffff;

}
.btn{
    border: 0px solid #ffffff;
    border-radius: 10px;
    padding:10px;
    font-family: "Bree Serif";
    font-size:18px;
    background-color: #ffffff;
    color:#1e293b;
}

